
.vs/ArduinoDatalogger/FileContentIndex/b4b17134-bf82-4c74-acd0-165d4ebbd12b.vsidx
.vs/ArduinoDatalogger/FileContentIndex/read.lock
.vs/ArduinoDatalogger/v17/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
