<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://arduinodatalogger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b6f33548-5401-4370-a327-f78a456c8612/resourceGroups/ArduinoDatalogger/providers/Microsoft.Web/sites/ArduinoDatalogger</ResourceId>
    <UserName>$ArduinoDatalogger</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://arduinodatalogger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>